<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Вейкбординг</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'basics' %}">Основы</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'equipment' %}">Оборудование</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tips' %}">Советы</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'safety' %}">Безопасность</a></li>
        </ul>
    </div>
</nav>
