{% extends 'main/base.html' %}

{% block title %}Оборудование{% endblock %}

{% block content %}
<h1>Оборудование для вейкбординга</h1>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Доска для вейкбординга</h5>
    <p class="card-text">Основной элемент оборудования. Для новичков рекомендуется выбирать доски большей длины и ширины для лучшей стабильности.</p>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Спасательный жилет</h5>
    <p class="card-text">Необходим для обеспечения безопасности на воде. Выбирайте жилет, который плотно прилегает к телу, но не ограничивает движения.</p>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Фал</h5>
    <p class="card-text">Канат, который соединяет райдера с лодкой. Длина и материал фала могут варьироваться в зависимости от уровня подготовки и предпочтений райдера.</p>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Гидрокостюм</h5>
    <p class="card-text">Обеспечивает тепло и защищает от травм. В зависимости от температуры воды выбирайте гидрокостюм подходящей толщины.</p>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Крепления</h5>
    <p class="card-text">Обеспечивают устойчивость на доске. Они должны быть удобными и хорошо фиксировать ноги, чтобы избежать травм.</p>
  </div>
</div>

{% endblock %}
